body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#svg{
    display: none;
}

#columns{
    display: flex;
}
.range{
    display: flex;
    align-items: center;
    margin-right: 2em;
}
label{
    width: 1em;
    text-align: right;
    margin-right: 0.25em;
}
.error_message{
    color: red;
    font-weight: bold;
}

.separator{
    width: 70%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
    margin-top: 3em;
    margin-bottom: 3em;
}

#network{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#network_architecture_design{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#network_architecture{
    border: solid 1px grey;
    margin-right: 1em;
    margin-bottom: 1em;
}
#network_visualization{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1320px){
    #network{
        flex-direction: column;
    }
}
#network_size{
    width: 5em;
}
#hover{
    height: 2em;
    font-size: large;
}