body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#columns{
    display: flex;
}
.range{
    display: flex;
    align-items: center;
    margin-right: 2em;
}
label{
    width: 1em;
    text-align: right;
    margin-right: 0.25em;
}
.error_message{
    color: red;
    font-weight: bold;
}

.separator{
    width: 70%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
    margin-top: 3em;
    margin-bottom: 3em;
}
#architecture{
    border: 1px solid grey;
}